.navigation{
	/* border: 10px solid black; */
	font-family: sans-serif;
	padding: 30px;
	font-size: 2rem;
	background-color: #f8f9fa;
}
.navigation .navbar-brand{
	font-size: 3rem;
	font-family: 'Notable',sans-serif;
}

.headerpart{
/* 	border: 5px solid red; */
}

.headerpart img{
	height: 1000px;
	width: 100%;
}

.imagepart{
	margin-top: 15px;
	height: 550px;
	width: 100%;
	/* border: 5px solid blue; */
	background-image: url('images/school.gif');
	background-size: cover;
}


.newspart{
	font-size: 1.5rem;
	margin-top: 15px;
	height: 1000px;
	width: 100%;
	border: 1px solid black;
}

.map{
	/* height: 800px; */
}

.footer1{
	text-align: center;
	padding : 50px 0px 0px 32%;
	font-size : 2.5rem;
	height: 500px;
	width: 100%;
	/* border: 5px solid red; */
	background-color: #292929;
	color: white;
}

.footer2{
	text-align: center;
	padding : 50px 0px 0px 37%;
	font-size : 2.5rem;
	height: 350px;
	width: 100%;
/* 	border: 5px solid red; */
	background-color: #292929;
	color: white;
}
.copyright{
	text-align: center;
	height: 150px;
	width: 100%;
/* 	border: 5px solid red; */
	background-color: #292929;
	color: white;
}
.copyright p{
	position: relative;
	top: 45%;
}

@media only screen and (min-width: 1000px){
	.headerpart img{
		height: 100vh;
	}
}
